.container{
    max-width: 120rem;
    margin:8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem ;

    @media only screen and (max-width: $bp-largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:1px solid var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
      }
}
.content{
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        
    }
}
.sidebar{
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; // grow, shrink flex-basis
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-view{
    background-color: white;
    flex: 1; // grow as much as it can
     
}
.detail{
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom:var(--line);
    @media only screen and (max-width: $bp-medium) {
        
        padding: 3rem;
        
      }
      @media only screen and (max-width: $bp-small) {
        
        flex-direction: column;
        
      }
}
.description{
    font-size: 1.4rem;
    background-color:white;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; // div grows to 60%
    margin-right: 4.5rem;
    @media only screen and (max-width: $bp-medium) {
        
        padding: 2rem;
        
      }
      @media only screen and (max-width: $bp-small) {
        
        margin-right: 0;
        margin-bottom: 3rem;
        
      }
}
.user-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; // div stretches to fit entire content
}   